In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
Awards = pd.read_excel('data/Film_Awards.xlsx')
Awards

Establishing a Data Frame

In [2]:
df = pd.read_excel('data/Film_Awards.xlsx')

Changing the titles of the Columns

In [3]:
df.columns = ['Year','Academy Award','Director/Film-A','Golden Globe-Drama','Director/Film-D','Golden Globe-Musical or Comedy','Director/Film-MC']

Editing data in cells

In [ ]:
df.loc[1, ['Golden Globe-Drama']] = ['1917']
df.loc[16, ['Golden Globe-Musical or Comedy','Director/Film-MC']] = ['Olivia Colman','The Favourite']
df

Inserting new column for award

In [ ]:
df.insert(loc=0,column='Award',value=[' ','Best Picture',' ',' ',' ',' ','Best Actor',' ',' ',' ',' ',' ',' ','Best Actress',' ',' ',' ',' '])
df

Removing excess data "NaN" from sheet

In [ ]:
df.loc[6, ['Year','Academy Award','Director/Film-A','Golden Globe-Drama','Director/Film-D','Golden Globe-Musical or Comedy','Director/Film-MC']] = [' ',' ',' ',' ',' ',' ',' ']
df.loc[13, ['Year','Academy Award','Director/Film-A','Golden Globe-Drama','Director/Film-D','Golden Globe-Musical or Comedy','Director/Film-MC']] = [' ',' ',' ',' ',' ',' ',' ']
df

Making multiple Data Frames

    Best Picture

In [7]:
picture = pd.read_excel('data/Film_Awards.xlsx', skiprows=1, nrows=3, engine='openpyxl')
picture = picture.rename(columns={"Director": "Director - AA", "Director.1": "Director - D", "Director.2": "Director - MC"})
picture

,Year,Academy Award,Director - AA,Golden Globe - Drama,Director - D,Golden Globe - Musical or Comedy,Director - MC
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

        Making all values in column Golden Globe - Drama a string value

In [24]:
picture["Golden Globe - Drama"] = picture["Golden Globe - Drama"].astype(str)
picture

,Year,Academy Award,Director - AA,Golden Globe - Drama,Director - D,Golden Globe - Musical or Comedy,Director - MC
0,2019,Parasite,Bong Joon-ho,1917,Sam Mendes,Once Upon a Time in Hollywood,Quentin Tarantino
1,2018,Green Book,Peter Farrelly,Bohemian Rhapsody,Bryan Singer,Green Book,Peter Farelly
2,2017,The Shape of Water,Guillermo del Toro,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh,Lady Bird,Greta Gerwig

    Verifying 1917 is a string

In [ ]:
ids = picture['Golden Globe - Drama']
for i, id_ in enumerate(ids):
    print(f"id {i}: {id_}\t{id_.__class__.__name__}")

    Best Actor

In [25]:
actor = pd.read_excel('data/Film_Awards.xlsx', header=[7,8], nrows=3, engine='openpyxl')
actor = actor.rename(columns={"Film": "Film - AA", "Film.1": "Film - D", "Film.2": "Film - MC"})
actor

  Best Actor                                                           \
        Year    Academy Award          Film - AA Golden Globe - Drama
0       2019  Joaquin Phoenix              Joker      Joaquin Phoenix
1       2018       Rami Malek  Bohemian Rhapsody           Rami Malek
2       2017      Gary Oldman       Darkest Hour          Gary Oldman


             Film - D Golden Globe - Musical or Comedy            Film - MC
0               Joker                    Taron Egerton            Rocketman
1  Bohemian Rhapsody                    Christian Bale                 Vice
2        Darkest Hour                     James Franco  The Disaster Artist

    Best Actress

In [33]:
actress = pd.read_excel("data/Film_Awards.xlsx", header=[14,15], nrows=3, engine='openpyxl')
actress = actress.rename(columns={"Film": "Film - AA", "Film.1": "Film - D", "Film.2": "Film - MC"})
actress

  Best Actress                                                                \
          Year      Academy Award                                  Film - AA
0         2019    Renée Zellweger                                       Judy
1         2018      Olivia Colman                              The Favourite
2         2017  Frances McDormand  Three Billboards Outside Ebbing, Missouri

                                                                   \
  Golden Globe - Drama                                   Film - D
0      Renée Zellweger                                       Judy
1          Glenn Close                                   The Wife
2    Frances McDormand  Three Billboards Outside Ebbing, Missouri


  Golden Globe - Musical or Comedy        Film - MC
0                        Awkwafina     The Farewell
1                   Olivia Coleman  The Favourite\n
2                    Saoirse Ronan        Lady Bird

Changing Coleman to Colman

In [34]:
actress.loc[1] = ['2018','Olivia Colman','The Favourite','Glenn Close','The Wife','Olivia Colman','The Favourite']
actress

  Best Actress                                                                \
          Year      Academy Award                                  Film - AA
0         2019    Renée Zellweger                                       Judy
1         2018      Olivia Colman                              The Favourite
2         2017  Frances McDormand  Three Billboards Outside Ebbing, Missouri

                                                                   \
  Golden Globe - Drama                                   Film - D
0      Renée Zellweger                                       Judy
1          Glenn Close                                   The Wife
2    Frances McDormand  Three Billboards Outside Ebbing, Missouri


  Golden Globe - Musical or Comedy      Film - MC
0                        Awkwafina   The Farewell
1                    Olivia Colman  The Favourite
2                    Saoirse Ronan      Lady Bird

Using Melt

In [ ]:
picture.melt(
    id_vars=['Year'],
    var_name="Key",
    value_name='Value'
).set_index(['Year'])

In [87]:
df1 = pd.DataFrame({'Year': [2019,2019,2019,2019,2019,2019,2019,2019,2019,2018,2018,2018,2018,2018,2018,2018,2018,2018,2017,2017,2017,2017,2017,2017,2017,2017,2017],
    'Org': ['Academy Award', 'Academy Award', 'Academy Award','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - MC','Golden Globe - MC','Golden Globe - MC','Academy Award', 'Academy Award', 'Academy Award','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - MC','Golden Globe - MC','Golden Globe - MC','Academy Award', 'Academy Award', 'Academy Award','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - MC','Golden Globe - MC','Golden Globe - MC'],
    'Award': ['Best Picture','Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture', 'Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture', 'Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture', 'Best Actor','Best Actress']})
df1

    Year                   Org         Award
0   2019         Academy Award  Best Picture
1   2019         Academy Award    Best Actor
2   2019         Academy Award  Best Actress
3   2019  Golden Globe - Drama  Best Picture
4   2019  Golden Globe - Drama    Best Actor
5   2019  Golden Globe - Drama  Best Actress
6   2019     Golden Globe - MC  Best Picture
7   2019     Golden Globe - MC    Best Actor
8   2019     Golden Globe - MC  Best Actress
9   2018         Academy Award  Best Picture
10  2018         Academy Award    Best Actor
11  2018         Academy Award  Best Actress
12  2018  Golden Globe - Drama  Best Picture
13  2018  Golden Globe - Drama    Best Actor
14  2018  Golden Globe - Drama  Best Actress
15  2018     Golden Globe - MC  Best Picture
16  2018     Golden Globe - MC    Best Actor
17  2018     Golden Globe - MC  Best Actress
18  2017         Academy Award  Best Picture
19  2017         Academy Award    Best Actor
20  2017         Academy Award  Best Actress
21  2017  Golden Globe - Drama  Best Picture
22  2017  Golden Globe - Drama    Best Actor
23  2017  Golden Globe - Drama  Best Actress
24  2017     Golden Globe - MC  Best Picture
25  2017     Golden Globe - MC    Best Actor
26  2017     Golden Globe - MC  Best Actress

In [94]:
df2 = pd.DataFrame({'Year': [2019,2019,2019,2019,2019,2019,2019,2019,2019,2018,2018,2018,2018,2018,2018,2018,2018,2018,2017,2017,2017,2017,2017,2017,2017,2017,2017],
    "Film":['Parasite','Joker','Judy','1917','Joker','Judy','Once Upon A Time in Hollywood','Rocketman','The Farewell','Green Book','Bohemian Rhapsody','The Favourite','Bohemian Rhapsody','Bohemian Rhapsody','The Wife','Green Book','Vice','The Disaster Artist','The Shape of Water','Darkest Hour','Three Billboards Outside Ebbing, Missouri','Three Billboards Outside Ebbing, Missouri','Darkest Hour','Three Billboards Outside Ebbing, Missouri','Lady Bird','The Disaster Artist','Lady Bird'],
    'Recipient': ['Bong Joon-Ho','Joaquin Phoenix','Renée Zellweger','Sam Mendes','Joaquin Phoenix','Renée Zellweger','Quentin Tarantino','Taron Egerton','Awkwafina','Peter Farrelly','Rami Malek','Olivia Colman','Bryan Singer','Rami Malek','Glenn Close','Peter Farrelly','Christian Bale','Olivia Colman','Guillermo del Toro','Gary Oldman','Frances McDormand','Martin McDonagh','Gary Oldman','Frances McDormand','Greta Gerwig','James Franco','Saiorse Ronan']})
df2

    Year                                       Film           Recipient
0   2019                                   Parasite        Bong Joon-Ho
1   2019                                      Joker     Joaquin Phoenix
2   2019                                       Judy     Renée Zellweger
3   2019                                       1917          Sam Mendes
4   2019                                      Joker     Joaquin Phoenix
5   2019                                       Judy     Renée Zellweger
6   2019              Once Upon A Time in Hollywood   Quentin Tarantino
7   2019                                  Rocketman       Taron Egerton
8   2019                               The Farewell           Awkwafina
9   2018                                 Green Book      Peter Farrelly
10  2018                          Bohemian Rhapsody          Rami Malek
11  2018                              The Favourite       Olivia Colman
12  2018                          Bohemian Rhapsody        Bryan Singer
13  2018                          Bohemian Rhapsody          Rami Malek
14  2018                                   The Wife         Glenn Close
15  2018                                 Green Book      Peter Farrelly
16  2018                                       Vice      Christian Bale
17  2018                        The Disaster Artist       Olivia Colman
18  2017                         The Shape of Water  Guillermo del Toro
19  2017                               Darkest Hour         Gary Oldman
20  2017  Three Billboards Outside Ebbing, Missouri   Frances McDormand
21  2017  Three Billboards Outside Ebbing, Missouri     Martin McDonagh
22  2017                               Darkest Hour         Gary Oldman
23  2017  Three Billboards Outside Ebbing, Missouri   Frances McDormand
24  2017                                  Lady Bird        Greta Gerwig
25  2017                        The Disaster Artist        James Franco
26  2017                                  Lady Bird       Saiorse Ronan

Merging df1 and df2 to get one dataframe (df12)

In [95]:
df12 = pd.merge(df1,df2)
df12

,Year,Org,Award,Film,Recipient
0,2019,Academy Award,Best Picture,Parasite,Bong Joon-Ho
1,2019,Academy Award,Best Picture,Joker,Joaquin Phoenix
2,2019,Academy Award,Best Picture,Judy,Renée Zellweger
3,2019,Academy Award,Best Picture,1917,Sam Mendes
4,2019,Academy Award,Best Picture,Joker,Joaquin Phoenix
...,...,...,...,...,...
238,2017,Golden Globe - MC,Best Actress,Darkest Hour,Gary Oldman
239,2017,Golden Globe - MC,Best Actress,"Three Billboards Outside Ebbing, Missouri",Frances McDormand
240,2017,Golden Globe - MC,Best Actress,Lady Bird,Greta Gerwig
241,2017,Golden Globe - MC,Best Actress,The Disaster Artist,James Franco
242,2017,Golden Globe - MC,Best Actress,Lady Bird,Saiorse Ronan

In [99]:
df4 = pd.DataFrame({'Year': [2019,2019,2019,2019,2019,2019,2019,2019,2019,2018,2018,2018,2018,2018,2018,2018,2018,2018,2017,2017,2017,2017,2017,2017,2017,2017,2017],
    'Org': ['Academy Award', 'Academy Award', 'Academy Award','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - MC','Golden Globe - MC','Golden Globe - MC','Academy Award', 'Academy Award', 'Academy Award','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - MC','Golden Globe - MC','Golden Globe - MC','Academy Award', 'Academy Award', 'Academy Award','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - Drama','Golden Globe - MC','Golden Globe - MC','Golden Globe - MC'],
    'Award': ['Best Picture','Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture', 'Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture', 'Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture','Best Actor','Best Actress','Best Picture', 'Best Actor','Best Actress'],
    "Film":['Parasite','Joker','Judy','1917','Joker','Judy','Once Upon A Time in Hollywood','Rocketman','The Farewell','Green Book','Bohemian Rhapsody','The Favourite','Bohemian Rhapsody','Bohemian Rhapsody','The Wife','Green Book','Vice','The Favourite','The Shape of Water','Darkest Hour','Three Billboards Outside Ebbing, Missouri','Three Billboards Outside Ebbing, Missouri','Darkest Hour','Three Billboards Outside Ebbing, Missouri','Lady Bird','Disaster Artist','Lady Bird'],
    'Recipient': ['Bong Joon-Ho','Joaquin Phoenix','Renée Zellweger','Sam Mendes','Joaquin Phoenix','Renée Zellweger','Quentin Tarantino','Taron Egerton','Awkwafina','Peter Farrelly','Rami Malek','Olivia Colman','Bryan Singer','Rami Malek','Glenn Close','Peter Farrelly','Christian Bale','Olivia Colman','Guillermo del Toro','Gary Oldman','Frances McDormand','Martin McDonagh','Gary Oldman','Frances McDormand','Greta Gerwig','James Franco','Saiorse Ronan'],
})
df4

,Year,Org,Award,Film,Recipient
0,2019,Academy Award,Best Picture,Parasite,Bong Joon-Ho
1,2019,Academy Award,Best Actor,Joker,Joaquin Phoenix
2,2019,Academy Award,Best Actress,Judy,Renée Zellweger
3,2019,Golden Globe - Drama,Best Picture,1917,Sam Mendes
4,2019,Golden Globe - Drama,Best Actor,Joker,Joaquin Phoenix
5,2019,Golden Globe - Drama,Best Actress,Judy,Renée Zellweger
6,2019,Golden Globe - MC,Best Picture,Once Upon A Time in Hollywood,Quentin Tarantino
7,2019,Golden Globe - MC,Best Actor,Rocketman,Taron Egerton
8,2019,Golden Globe - MC,Best Actress,The Farewell,Awkwafina
9,2018,Academy Award,Best Picture,Green Book,Peter Farrelly
10,2018,Academy Award,Best Actor,Bohemian Rhapsody,Rami Malek
11,2018,Academy Award,Best Actress,The Favourite,Olivia Colman
12,2018,Golden Globe - Drama,Best Picture,Bohemian Rhapsody,Bryan Singer
13,2018,Golden Globe - Drama,Best Actor,Bohemian Rhapsody,Rami Malek
14,2018,Golden Globe - Drama,Best Actress,The Wife,Glenn Close
15,2018,Golden Globe - MC,Best Picture,Green Book,Peter Farrelly
16,2018,Golden Globe - MC,Best Actor,Vice,Christian Bale
17,2018,Golden Globe - MC,Best Actress,The Favourite,Olivia Colman
18,2017,Academy Award,Best Picture,The Shape of Water,Guillermo del Toro
19,2017,Academy Award,Best Actor,Darkest Hour,Gary Oldman
20,2017,Academy Award,Best Actress,"Three Billboards Outside Ebbing, Missouri",Frances McDormand
21,2017,Golden Globe - Drama,Best Picture,"Three Billboards Outside Ebbing, Missouri",Martin McDonagh
22,2017,Golden Globe - Drama,Best Actor,Darkest Hour,Gary Oldman
23,2017,Golden Globe - Drama,Best Actress,"Three Billboards Outside Ebbing, Missouri",Frances McDormand
24,2017,Golden Globe - MC,Best Picture,Lady Bird,Greta Gerwig
25,2017,Golden Globe - MC,Best Actor,Disaster Artist,James Franco
26,2017,Golden Globe - MC,Best Actress,Lady Bird,Saiorse Ronan

Films that won multiple awards

In [106]:
joker = pd.DataFrame({'Year':[2019,2019],'Award':['AA Best Actor','GGD Best Actor']})
joker

   Year           Award
0  2019   AA Best Actor
1  2019  GGD Best Actor

In [107]:
judy = pd.DataFrame({'Year': [2019,2019],'Award':['AA Best Actress','GGD Best Actress']})
judy

   Year             Award
0  2019   AA Best Actress
1  2019  GGD Best Actress

In [108]:
gb = pd.DataFrame({'Year':[2018,2018],'Award':['AA Best Picture','GGMC Best Picture']})
gb

   Year              Award
0  2018    AA Best Picture
1  2018  GGMC Best Picture

In [109]:
br = pd.DataFrame({'Year':[2018,2018,2018],'Award':['AA Best Actor','GGD Best Picture','GGD Best Actor']})
br

   Year             Award
0  2018     AA Best Actor
1  2018  GGD Best Picture
2  2018    GGD Best Actor

In [111]:
dark = pd.DataFrame({'Year':[2017,2017],'Award':['AA Best Actor','GGD Best Actor']})
dark

   Year           Award
0  2017   AA Best Actor
1  2017  GGD Best Actor

In [112]:
tb = pd.DataFrame({'Year':[2017,2017,2017],'Award':['AA Best Actress','GGD Best Picture','GGD Best Actress']})
tb

   Year             Award
0  2017   AA Best Actress
1  2017  GGD Best Picture
2  2017  GGD Best Actress

In [113]:
fav = pd.DataFrame({'Year':[2018,2018],'Award':['AA Best Actress','GGMC Best Actress']})
fav

   Year              Award
0  2018    AA Best Actress
1  2018  GGMC Best Actress

Actors, Directors, and Actresses who won multiple awards

In [114]:
JP = pd.DataFrame({'Film':['Joker','Joker'],'Award':['AA Best Actor','GGD Best Actor']})
JP

    Film           Award
0  Joker   AA Best Actor
1  Joker  GGD Best Actor

In [120]:
RZ = pd.DataFrame({'Film':['Judy','Judy'],'Award':['AA Best Actress','GGD Best Actress']})
RZ

   Film             Award
0  Judy   AA Best Actress
1  Judy  GGD Best Actress

In [119]:
PF = pd.DataFrame({'Film':['Green Book','Green Book'],'Award':['AA Best Picture','GGD Best Picture']})
PF

         Film             Award
0  Green Book   AA Best Picture
1  Green Book  GGD Best Picture

In [118]:
RM = pd.DataFrame({'Film':['Bohemian Rhapsody','Bohemian Rhapsody'],'Award':['AA Best Actor','GGD Best Actor']})
RM

                Film           Award
0  Bohemian Rhapsody   AA Best Actor
1  Bohemian Rhapsody  GGD Best Actor

In [117]:
OC = pd.DataFrame({'Film':['The Favourite','The Favourite'],'Award':['AA Best Actress','GGMC Best Actress']})
OC

            Film              Award
0  The Favourite    AA Best Actress
1  The Favourite  GGMC Best Actress

In [116]:
GO = pd.DataFrame({'Film':['Darkest Hour','Darkest Hour'],'Award':['AA Best Actor','GGD Best Actor']})
GO

           Film           Award
0  Darkest Hour   AA Best Actor
1  Darkest Hour  GGD Best Actor

In [115]:
FM = pd.DataFrame({'Film':['Three Billboards Outside Ebbing, Missouri','Three Billboards Outside Ebbing, Missouri'],'Award':['AA Best Actress','GGD Best Actress']})
FM

                                        Film             Award
0  Three Billboards Outside Ebbing, Missouri   AA Best Actress
1  Three Billboards Outside Ebbing, Missouri  GGD Best Actress